# Angel One SmartAPI Credentials
# Get these from https://smartapi.angelbroking.com
ANGEL_API_KEY=LyCSLPvB
ANGEL_CLIENT_ID=S54848969
ANGEL_TOTP_SECRET=IQYUEU3SYCT3UMHPDC4EWLUWGU

# Server config
PORT=3001
NODE_ENV=development

# Cache TTL in seconds
CACHE_TTL_QUOTES=30
CACHE_TTL_FUNDAMENTALS=3600
CACHE_TTL_INDICES=60